.background {
  background: linear-gradient(to right, #07060d, #0e559d, #0e559d);
}
.main {
  padding-top: 40px;
  padding-bottom: 40px;
  /* margin-left: 30px;
  margin-right: 20px; */
}
.formFont {
  font-family: "Amenti Bold";
}
.formFont2 {
  font-family: "Amenti Medium";
}
.textcolor {
  color: linear-gradient(to right, #07060d, #0e559d, #0e559d);
}
